---
---
<nav
    class="bg-white after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 sticky top-0 shadow-md py-1">
  <div class="mx-auto bounded px-12 md:px-6 lg:px-8">
      <div class="absolute inset-y-0 left-0 pt-4 md:hidden z-0 max-h-10">
        <!-- Mobile menu button-->
        <button type="button" command="--toggle" commandfor="mobile-menu"
                class="relative p-2 ms-8 text-gray-400 cursor-pointer">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
               aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
               aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="flex items-center justify-center md:justify-between">
        <div class="md:w-1/3 ps-6">
          <a href="/">
            <h1 class="max-w-38 hidden md:block" style={{fontSize: '1.8em', lineHeight: '1.2em'}}>No Wanky Bollocks.</h1>
            <h1 class="max-w-38 md:hidden" style={{fontSize: '3.2em', lineHeight: '1.2em'}}>NWB</h1>
          </a>
        </div>
        <div class="hidden md:block md:w-1/3">
          <div class="flex space-x-4 justify-center chivo-heading uppercase">
            <a href="#" aria-current="page">Interviews</a>
            <a href="#" aria-current="page">Discussions</a>
            <a href="#" aria-current="page">About</a>
          </div>
        </div>
      <div class="md:w-1/3"></div>
      </div>
  </div>

  <el-disclosure id="mobile-menu" hidden class="block md:hidden z-10 px-6">
    <div class="space-y-1 px-2 pt-2 pb-3 chivo-heading uppercase">
      <a href="/"
         class="block px-3 py-2 hover:bg-gray-950/50">Interviews</a>
      <a href="/"
         class="block px-3 py-2 hover:bg-gray-950/50">Discussions</a>
      <a href="/"
         class="block px-3 py-2 hover:bg-gray-950/50">About</a>
    </div>
  </el-disclosure>
</nav>
<script>
  const buttons = document.querySelectorAll('[commandfor="mobile-menu"]');

  const toggle = () => {
    const menu = document.getElementById('mobile-menu')
    if (menu) {
      if (menu.hidden) {
        menu.hidden = false;
        buttons.forEach((button) => {
          button.setAttribute('aria-expanded', "true")
        });
      } else {
        menu.hidden = true;
        buttons.forEach((button) => {
         button.setAttribute('aria-expanded', "false")
        });
      }
    }
  }

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', toggle);
  });
</script>