---

import Layout from '../layouts/Layout.astro';
import {getPosts,postToPath} from "../lib/postUtils";
import type { Post } from "../../payload-types";
const posts = await getPosts()
---

<Layout>
  {
    posts.map((post: Post) => (
        <h2>{post.title}</h2>
        <p><a href={postToPath(post)}>Read</a></p>
    ))
  }
</Layout>
